@model IEnumerable<WallyAndynaswebApp.Models.Alquiler>

@{
    ViewData["Title"] = "Registro de Alquileres/Reservaciones";
}

<h1>Registro de Alquileres/Reservaciones</h1>

<p>
    <a asp-action="Create">Crear Nueno Registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumCancha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CedIden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <!--<th>    <!--tambine quite una arroba
                Html.DisplayNameFor(model => model.Usuario)
            </th>-->
            <th>
                @Html.DisplayNameFor(model => model.Cancha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumCancha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CedIden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hasta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <!--<td>    tambien quite una arroba
                Html.DisplayFor(modelItem => item.Usuario.Contraseña)
                </td>-->
            <td>
                @Html.DisplayFor(modelItem => item.Cancha.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" class="btn-warning" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" class="btn btn-success" asp-route-id="@item.Id">Detalle</a> |
                <a asp-action="Delete" class="bbtn btn-danger" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
